<% cache do %>

  <div class="row">

    <div class="large-12 columns">

      <h2 class="header"><%= t 'global.app.name' %></h2>
      <p class="subheader"><%= t 'global.app.slogan' %></p>

      <hr>

    </div>

  </div>

<% end %>
